body{
    background-color: #E1D7C6;
}


.buttonText{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: #674636;
    border: none;
    color: white;
}

.btn:hover{
    background-color: #E1D7C6;
}


.container{
    width: 95%;
    background-color: white;
}
